{% extends 'base.html' %}

{% block page_title %}
<title>AED Location</title>
{% endblock page_title %}

{% block main_content %}

                        <div class="row">
                            <div class="col-md-6">
                                <div class="card border border-secondary">
                                    
                                    <div class="card-body">
                                        <form class="form-header" action="" method="POST">
                                            <input class="au-input au-input--xl" type="text" id="location" placeholder="Input Address" />
                                            <button class="au-btn--submit" type="button" id="btn_search">
                                                <i class="zmdi zmdi-search"></i>
                                            </button>
                                        </form>
                                        <br>
                                        <div class="table-responsive m-b-30">
                                            <table id="aedlocation_table" class="table table-borderless table-striped table-earning">
                                                <thead>
                                                    <tr>
                                                        <th>주소</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card border border-secondary" id="company_card">
                                    <div class="card-header">
                                        <strong class="card-title" id="address_card_title">주소</strong>
                                    </div>
                                    <div class="card-body">
                                        
                                            <div class="top-campaign-x">
                                                <h3 class="title-3 m-b-30">상세주소</h3>
                                                <div class="table-responsive">
                                                    <table class="table table-top-campaign" id="address_detail_table">
                                                        <tbody>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="au-card m-b-30">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 m-b-40">지도</h3>
                                        <canvas id="stock_line_chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

{% endblock main_content %}

{% block custom_js %}

<script type='text/javascript'>
$(function(){

    // alert('hello, jQuery');

    // 1.동기 방식 요청 All Refresh
    // location.href = '/stocks/market/';      // 브라우저 주소 입력창에 입력 후 엔터

    // 2.비동기 방식 요청 Partial Refresh
    // $.ajax({
    //     "url": '/stocks/market',
    //     "method": 'GET',
    //     "success": function(data, status, xhr){
    //         // alert(data)
    //         values = data.split(',')
    //         $('#kospi').text(values[0])
    //         $('#kosdaq').text(values[1])
    //         $('#dowjones').text(values[2])
    //         $('#nasdaq').text(values[3])
    //     },
    //     "error": function(xhr, status, err){
    //         alert(err)
    //     }
    // });

    list_td_names = ['Address', 'num'];
    list_tr_html_str = `<tr>
                        <td></td>
                    </tr>`; 
    $('#btn_search').on('click', function(event){

        event.preventDefault();
        event.stopPropagation();

        var key = $('#location').val();     // 입력한 검색어 읽기

        if(!key){
            alert('검색어를 입력하세요');
            return;
        }

        // alert(key)
        $.ajax({
            "url": "/aedlocation/search2/" + key,
            "method": "GET",
            "dataType":"json",
            "success": function(data, status, xhr){
                // alert(data);
                $('#aedlocation_table tbody').empty()
                
                
                for (var idx = 0; idx < data.length; idx++) { 
                    var tr = $(list_tr_html_str);
                    tr.attr('data-num', data[idx].num)

                    tr.attr('data-Address', data[idx].Address)

                    var tds = tr.find('td');
                    tds.each(function(i, td) {
                        $(td).text(data[idx][list_td_names[i]])
                    });
                    $('#aedlocation_table tbody').append(tr);

                }

            },
            "error": function(xhr, status, err){
                alert(err);
            }
        });
    });

    // 검색된 목록 테이블에서 행을 클릭하면 상세 보기
    detail_td_names = ['DetailedAddress'];
    detail_tr_html_str = `<tr>
                            <td></td>
                            <td></td>
                          </tr>`

    $('#aedlocation_table').on('click', 'tr', function(event) {
        event.preventDefault();     // 관행적으로 넣는 코드
        event.stopPropagation();

        var num = $(this).attr('data-num');

        var Address = $(this).attr('data-Address')
        // alert(symbol);

        $.ajax({
            "url": "/aedlocation/detail2/" + num,
            "method": "GET",
            "success": function(data, status, xhr) {
                // alert(data);
                $('#address_detail_table').empty();
                for (var idx = 0; idx < detail_td_names.length; idx++) {
                    var tr = $(detail_tr_html_str);
                    tds = tr.find('td');
                    $(tds[0]).text(Address,'\n');
                    if (detail_td_names[idx] === 'homepage') {
                        link = $('<a>' + data[0][detail_td_names[idx]] +'</a>');
                        link.attr('href', data[0][detail_td_names[idx]])
                        $(tds[1]).append(link);
                    } else {
                        $(tds[1]).text(data[0][detail_td_names[idx]]);
                    }
                    $('#address_detail_table').append(tr);

                }
                
            },
            "error": function(xhr, status, err) {
                alert(err);
            }
        })
    });

});
</script>

{% endblock custom_js %}